body
{
background-color:#cfe7fa;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b0d4e3+0,88bacf+100;Grey+3D+%233 */
background: #b0d4e3; /* Old browsers */
background: -moz-linear-gradient(left,  #b0d4e3 0%, #88bacf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #b0d4e3 0%,#88bacf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #b0d4e3 0%,#88bacf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=1 ); /* IE6-9 */
}

#login-box
{
	top:35%;
	width:390px;
	height:280px;
	margin:140px auto 0px;
	border-radius:5px;
}
#login-box-interno
{
	top:35%;
	width:360px;
	height:260px;
	background-color:#f2f5f7;
	position:absolute;
	margin:10px;
	border-radius:5px;
	box-shadow:0px 0px 5px black;
	overflow:hidden;
	opacity: 5;	
}
#login-box-interno2
{
	top:32%;
	width:350px;
	height:360px;
	background-color:#f2f5f7;
	position:absolute;
	margin:10px;
	border-radius:5px;
	box-shadow:0px 0px 5px black;
	overflow:hidden;
	opacity: 5;	
}
#login-box-label
{
	height:45px;
	text-align:center;
	font:bold 14px/45px sans-serif;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

	border-bottom:1px solid #bfc3c5;
	box-shadow:1px 0px 3px #dedede;
	color:#555555;
	text-shadow:1px 0px 1px white;
}
.input-div
{
	margin:20px;
	padding:5px;
	font:bold 13px sans-serif;
	color:#555555;	
	background-color:#f2f5f7;
	border-radius:3px;
}
.input-div input
{
	width:310px;
	height:35px;
	padding-left:5px;
	font:normal 13px sans-serif;
	color:#black;
	border-radius:3px;
	border:1px solid #bfc4c6;
	outline:none;
}
.input-div:hover
{
	background-color:#e0f1fc;
}
.input-div:hover input
{
	border-color:#7dc6dd;
}
#input-senha
{
	margin-top:-10px;
}
#botoes
{
	widht:310px;
	margin-left:25px;
}
#botao
{
	float:right;
	padding:5px 15px;
	font:bold 12px sans-serif;
	border-radius:20px;
	text-shadow:0px 1px 0px white;
	border:1px solid #9eb9c3;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f3fa+0,d8f0fc+50,b8e2f6+51,b6dffd+100;Shape+2+Style */
background: #e0f3fa; /* Old browsers */
background: -moz-linear-gradient(top,  #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */

	color:#527988;
	box-shadow:0px 0px 10px #c9c9c9;
}
#botao:hover
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b6dffd+0,b8e2f6+49,d8f0fc+50,e0f3fa+100 */
background: #b6dffd; /* Old browsers */
background: -moz-linear-gradient(top,  #b6dffd 0%, #b8e2f6 49%, #d8f0fc 50%, #e0f3fa 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b6dffd 0%,#b8e2f6 49%,#d8f0fc 50%,#e0f3fa 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b6dffd 0%,#b8e2f6 49%,#d8f0fc 50%,#e0f3fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6dffd', endColorstr='#e0f3fa',GradientType=0 ); /* IE6-9 */
	
	cursor:pointer;
}
#nao-possui-senha
{
	font:normal 12px sans-serif;
}
#logo
{
position:relative;
top:10%;
left:42%;
	
}
